.name{
    font-size: 20px;
    margin-top: 10px;
}

.capital{
    font-size: 15px;
}

.card{
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
    color: #000;
}
.card:hover{
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.5) !important;
    text-decoration: none;
    color: #fff;
}